@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

:root {
    --primary-color: #2EC0F9;
    --secondary-color: #D0FFD6;
    --accent1-color: #FEC0AA;
    --accent2-color: #D6A2AD;

    --heading-font: Poppins;
    --paragraph-font: Poppins;

    --nav-background-color: #121212;
    --nav-link-color: #fec0aa;
    --nav-hover-link-color: #ffaaaa;
    --nav-hover-background-color: #3a3a3a;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins';
    color: var(--primary-color);
  }
p {
    color: var(--text-color);
  }
body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--paragraph-font);
  }
.sociallinks a {
    text-decoration: none;
  }
footer .sociallinks img {
    width: 24px;
    height: 24px;
}
.hero img {
    width: 100%;
    display: block;
}
.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent1-color);
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}