@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

:root {
    --primary-color: #2EC0F9;
    --secondary-color: #a3888e;
    --accent1-color: #FEC0AA;
    --accent2-color: #D0FFD6;

    --heading-font: Poppins;
    --paragraph-font: Poppins;

    --nav-background-color: #121212;
    --nav-link-color: #fec0aa;
    --nav-hover-link-color: #ffaaaa;
    --nav-hover-background-color: #3a3a3a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

.sociallinks a {
    text-decoration: none;
}

body {
    width: 80%;
    margin: 0 auto; 
}

.hero {
    position: relative;
    background-size: cover; 
    background-position: center;
    text-align: center; 
}

.hero > img {
    display: block;
    width: 100%;
}
article img {
    float: right;
    width: 40%;
    margin-left: 20px;    
}

article {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    opacity: 0.8;
}

.sociallinks img {
    width: 24px;
    height: 24px;
}

.hero h1 {
    margin-top: 10px; 
    letter-spacing: 2px; 
    background-color: #3a3a3ac7; 
    position: absolute; 
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%; 
    text-align: center; 
}

.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 90%; 
    background-color: var(--nav-hover-background-color); 
}